<!-- CONTENT -->
<!--<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><%= title %></h3>
    </div>
    <div class="panel-body">
        <p class="lead"><%= message %></p>
        <div class="btn-group">
            <button id="opTsk" class="btn btn-primary" role="button">Obrir Tasca</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Edit Task       <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></li>
                <li><a href="#">Assign other user       <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Delete Task       <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></li>
            </ul>
        </div>
    </div>
    <p><input type="button" id="boton" value="Per recuperar id"></p>
</div>
-->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><%= title %></h3>
    </div>
    <div class="panel-body">
        <p class="lead"><%= message %></p>
        <button class="btn btn-primary" role="button">Obrir Tasca</button>
        <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Edit <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#editTask">Edit Task       <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></li>
                <li><a id="bAssignation">Assign other user       <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Delete Task       <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></li>
            </ul>
        </div>
    </div>
    <p><input type="button" id="boton" value="Per recuperar id"></p>
</div>